.ViewOnGitHub-anchor {
  margin-top: 7px;
  margin-bottom: 5px;
  border: solid 1px rgb(29, 217, 241);
  border-style: solid;
  border-radius: 7px;
  padding: 5px;
  color: rgb(0, 0, 0);
  font-size: medium;
  text-decoration: none;
}
