


.ViewOnGitHub-anchor{
  margin-top: 7px;
  margin-bottom: 5px;
  border: solid 2px rgb(58, 171, 185);
  border-style: inset solid;
  border-radius: 7px;
  padding: 5px;
  color: rgb(0, 0, 0);
  font-size: medium;
  text-decoration: none;
}
